@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Oswald:wght@700&display=swap');

@import "tailwindcss";


@theme {
  /* Al poner --color-, Tailwind crea text-*, bg-*, border-*, etc. */
  --color-bg-card: #131313;
  --color-text-main: #ffffff;
  --color-text-muted: #a1a1aa;
  --color-neon-pink: #d7f250;
  --color-neon-pink-hover: #d7f250;

  /* ¡Truco de mentor! Ya que estamos, agregamos tus fuentes aquí también */
  --font-principal: "Oswald", sans-serif;
  --font-cursiva: "Caveat", cursive;
}

/* Si necesitas resetear algo general de la página, lo puedes poner aquí abajo */
body {
  background-color: #0d0d0d; /* El fondo oscuro global de Flex Studio */
  color: var(--color-text-main);
}